.titulos h1 { 
    font-size: 4em;
}
.titulos h2 {
  font-size: 28px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: rgb(255, 255, 255);
}


.banner h1, .banner h2 {
  margin: 0;
  text-shadow: 2px 2px 6px #000;
  text-align: center;
}

.banner {
  color: white;
  background: url('../../assets/fondo.jpg') top left/cover no-repeat;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.8;

}

.videos-comics{
    display: flex;
    justify-content: space-between;
    padding: 2em;
}

.titulo-video{
    text-align: center;
}


@media (max-width: 1450.98px) {
  .videos-comics{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .titulo-video{
    text-align: start;
  }
}

