<div class="banner">
  <div class="titulos">
    <h1>Bienvenido a la videoteca</h1>
    <h2>Aqui te ofrecemos una serie de videos donde aprenderas todo sobre comics</h2>
  </div>
</div>



<div class="videos-comics">
  <div #demoYouTubePlayer class="demo-youtube-player">
    <section>
      <youtube-player videoId="nSFBhDKjQkM" [width]="700" [height]="450"></youtube-player>
    </section>
    <hr>
    <h1 class="titulo-video">La Edad de Oro </h1>
  </div>

  <br>

  <div #demoYouTubePlayer class="demo-youtube-player">
    <section>
      <youtube-player videoId="7JcQL4tejz0" [width]="700" [height]="450"></youtube-player>
    </section>
    <hr>
    <h1 class="titulo-video">Las Epocas de los Superheroes</h1>
  </div>
</div>