.jumb{
    margin-left: 6em;
    margin-right: 6em;
    background-color: rgb(66, 72, 161);
    color: white;
}

.imagen-about{
    display: flex;
    width: 50%;
    margin: auto;
    padding: 5px;
}

.boton-her{
    display: flex;
    margin: auto;
    width: 4em;
    padding: 5px;
    text-align: center;
}
