<div class="jumbotron mt-5 jumb" >
    <h1 class="display-4">Sobre Comics!</h1>
    <p class="lead">Es preciso conocer qué es la palabra comic, la cual deriva del idioma inglés y que en nuestros días se
      entiende como sinónimo de historietas e incluso de novela gráfica; dicho esto, vemos que se trata tanto de una forma
      de expresión artística como de un medio de comunicación.
  
      Por eso, al referirnos a los comics se comprende el auge de los comics de superhéroes para niños, porque es uno de
      los más vendidos y difundidos de muchas formas. Es así como los personajes de comics normalmente tienen súper
      poderes, y el mensaje central que hacen llegar a los individuos es acerca de la lucha del bien contra el mal. La
      vestimenta de estas figuras es llamativa y constantemente se generan nuevos episodios en diversos idiomas como el
      español, el inglés o incluso, el japonés.
  
      Ciertamente, los comics provienen de las revistas de historietas o comic book, que fueron uno de los formatos
      iniciales masivos de producción de este tipo de obras, que ahora han evolucionado tanto que podemos encontrarlos en
      películas, series de televisión, posters, etc.</p>
    <hr class="my-4" style="background-color: rgb(133, 28, 28);">
    <img src="assets/fondo.jpg" class="imagen-about">
    <p style="text-align: center;">Puedes empezar tu recorrido sobre los personajes que dan vida a este mundo dando click en el siguiente boton</p>
    <a class="btn btn-primary btn-lg boton-her" [routerLink]="['/home']" role="button">Heroes</a>
  </div>