<div class="titulo">
  <h1 class="text-center">Juegos de superheroes</h1>
</div>
<hr>
<div class="card-deck">
    <div class="card text-white bg-dark mb-3">
        <img src="assets/games/spiderman.jpg" class="card-img-top" alt="..." >
        <div class="card-body">
          <h5 class="card-title">Spiderman PS</h5>
          <p class="card-text">Marvel's Spider-Man es un videojuego de acción y aventura basado en el popular superhéroe hómonimo de la editorial Marvel Comics. Fue desarrollado por Insomniac Games y publicado por Sony Interactive Entertainment en exclusiva para la consola PlayStation 4.</p>
          <a href="https://www.playstation.com/es-mx/games/marvels-spider-man/" class="btn btn-danger">Ver mas</a>
        </div>
      </div>
    <div class="card text-white bg-dark mb-3">
        <img src="assets/games/batman.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Batman Arkham Saga</h5>
          <p class="card-text">Batman: Arkham es una serie de videojuegos y una película de acción protagonizados por el superhéroe ficticio Batman. El primer videojuego de esta franquicia fue Batman: Arkham Asylum, cuya historia se desarrollaba en el manicomio de Arkham, tras el éxito de este juego se lanzaron varias secuelas y para saber que se trataba de la misma serie que Arkham Asylum se le agregó el seudónimo Arkham.</p>
          <a href="https://www.xbox.com/es-MX/games/store/batman-arkham-collection/c4h36b87svl1" class="btn btn-danger">Ver mas</a>
        </div>
      </div>
    <div class="card text-white bg-dark mb-3">
        <img src="assets/games/injustice.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Injustice</h5>
          <p class="card-text">'Injustice' es una saga de videojuegos de lucha que toma como base a los personajes de DC. Creada como una forma alternativa a 'Mortal Kombat', estos títulos nos presentan un universo alternativo en el que los superhéroes ya nos son tan buenos y los villanos ya no son tan malos. </p>
          <a href="https://vandal.elespanol.com/sagas/injustice" class="btn btn-danger">Ver mas</a>
        </div>
      </div>
  </div>
  <br>
  <div class="card-deck">
    <div class="card text-white bg-dark mb-3">
      <img src="assets/games/lego.jpeg" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Lego Games</h5>
        <p class="card-text">Lego nos ofrece un monton de adaptaciones donde podremos explorar los mundos de nuestros superheroes favoritos, dando este toque creativo, comico y entrenido que logra Lego</p>
        <a href="https://www.lego.com/es-mx/themes/marvel/games/super-heroes" class="btn btn-danger">Ver mas</a>
      </div>
    </div>
    <div class="card text-white bg-dark mb-3">
        <img src="assets/games/capcom.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Marvel vs Capcom</h5>
          <p class="card-text">Marvel vs Capcom es una serie de juegos de lucha creada por Capcom en el que los personajes creados por Marvel Comics y los personajes propios de Capcom aparecen juntos. Si bien fue la primera en torno a la serie VS.</p>
          <a href="https://www.playstation.com/es-mx/games/marvel-vs-capcom-infinite/" class="btn btn-danger">Ver mas</a>
        </div>
      </div>
      <div class="card text-white bg-dark mb-3">
        <img src="assets/games/avenger.jpg" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Marvel Avengers Game</h5>
          <p class="card-text">Marvel's Avengers es un videojuego desarrollado por Crystal Dynamics en asociación con Marvel Games y distribuido por Square Enix, basado en los personajes de cómics Los Vengadores de Marvel. Se lanzó el 4 de septiembre de 2020 en PlayStation 4, Xbox One, Microsoft Windows y Stadia</p>
          <a href="https://avengers.square-enix-games.com/en-us/" class="btn btn-danger">Ver mas</a>
        </div>
      </div>
  </div>


  