.jumb{
    margin-left: 6em;
    margin-right: 6em;
    background-color: rgb(66, 72, 161);
    color: white;
}

.foto-miembros{
    margin-top: 2em;
    margin-bottom: 2em;
    width: 30em;
    border-radius: 10px;
}