<div class="jumbotron mt-5 jumb" >
  <h1 class="display-4">Bienvenido a la mayor wiki de heroes!</h1>
  <p class="lead">En esta wiki encontraras un monton de informacion sobre tus superheroes favoritos, tendras una recopilacion semanal
    de tus heroes favoritos, donde tendras la oportunidad de conocer todo sobre ellos, ademas que te ofreceremos contenido de alta calidad
    en la videoteca para que puedas aprender mas sobre los comics, asi como tambien, un apartado completamente dedicado a tu entretenimiento
    donde podras jugar juegos en linea de tus heroes favoritos, asi que esperas para poder explorar esta aventura!!!.</p>
  <hr class="my-4" style="background-color: rgb(133, 28, 28);">
  <img src="assets/miembros.jpg" alt="miembros" class="foto-miembros">
  <h3>Registro de usuarios</h3>
  <p>Al registrarte dentro de la pagina, tendras notificaciones en tu correo electronico de todo lo nuevo que tenemos para ti, ademas
    que podras observar contenido unico para los miembros del sitio <span style="font-weight: bold;">¿Que esperas para registrarte?</span>
  </p>
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
    Registro
  </button>
  
</div>

<!-- Button trigger modal -->


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Formulario de registro</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <label for="nombre">Nombre/s</label>
          <div class="form-group">
            <input type="text" name="nombre" id="nombre" placeholder="Nombre..." [(ngModel)]="nombre" >
          </div>
          <label for="papellido">Primer apellido</label>
          <div class="form-group">
            <input type="text" name="Papellido" id="papellido" placeholder="Primer apellido..." [(ngModel)]="papellido">
          </div>
          <label for="sapellido">Segundo apellido</label>
          <div class="form-group">
            <input type="text" name="Sapellido" id="sapellido" placeholder="Segundo apellido..." [(ngModel)]="sapellido">
          </div>
          <label for="genero">Genero</label>
          <div class="form-group">
            <select name="genero" id="genero" [(ngModel)]="genero">
              <option value="Masculino">Masculino</option>
              <option value="Femenino">Femenino</option>
              <option value="No identificado">No identificado</option>
            </select>
          </div>
          <label for="email">Correo electronico</label>
          <div class="form-group">
            <input type="email" name="correo" id="correo" placeholder="Correo electronico..." [(ngModel)]="correo">
          </div>
          <label for="fechan">Fecha de Nacimiento</label>
          <div class="form-group">
            <input type="date" name="fechan" id="fechan" [(ngModel)]="fechan">
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            <button type="submit" class="btn btn-primary" value="submit" (click)="registroUsuario()">Guardar registro</button>
          </div>
        </form>
      </div>
      
    </div>
  </div>
</div>