.jumb{
    margin-left: 3em;
    margin-right: 3em;
    background-color: rgb(66, 72, 161);
    color: white;
}

.foto-miembros{
    display: flex;
    width: 50%;
    margin: auto;
    padding: 5px;
}